.carousel-control { width:  4%; }
.carousel-control:hover { color:#f1a400;}
.carousel-control.left,.carousel-control.right {margin-left:15px !important;background-image:none;}
/*@media (max-width : 480px) {*/
@media (min-width: 360px) and (max-width: 680px ) {
    .carousel-control.left,.carousel-control.right {
        margin-top:-50px;
        background-image:none;
    }
    .carousel-control.right {
        margin-right: 10px;
    }
/*    .imgLoaded{
                width: 100% !important;
                height: 50% !important;
        visibility: visible;
        height: 100% !important;
        margin-left: 30% !important;
        margin-right: 0px !important;
        margin-top: 0px !important;
        position: absolute;
        width: 100% !important;
    }*/
}
@media (max-width: 767px) {
    .carousel-inner .active.left { left: -100%; }
    .carousel-inner .next        { left:  100%; }
    .carousel-inner .prev		 { left: -100%; }
    .active > div { display:none; }
    .active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
    .carousel-inner .active.left { left: -50%; }
    .carousel-inner .next        { left:  50%; }
    .carousel-inner .prev		 { left: -50%; }
    .active > div { display:none; }
    .active > div:first-child { display:block; }
    .active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
    .carousel-inner .active.left { left: -16.7%; }
    .carousel-inner .next        { left:  16.7%; }
    .carousel-inner .prev		 { left: -16.7%; }	
}

.section-pbottom1{
    padding-bottom:50px;
}
.section-pbottom2{
    padding-bottom:50px;
}
.camera_wrap1 {
    width: 100% !important;
    height: 125% !important;
}
.camera_wrap2 {
    width: 100% !important;
    height: 125% !important;
}
.cpt{
    width: 50% !important;
    margin-bottom: 10%;
    margin-left: 13%;
}
.slider-title-11, .slider-title-21 {
    display:block;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
    color: #333333;
    /*font-size: 50px;*/
    font-size: 15px;
    text-transform: capitalize;
    /*line-height:50px;*/
    line-height:9px;
   font-family: 'effraregular';
    font-weight:normal;
    /*padding-top:10px;*/
    padding-top:5px;
}
.slider-title-21 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}
.slider-text-11 {
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
    -webkit-animation-duration:.9s;
    animation-duration:.9s;
    color: #777777;
    font-family: 'effraregular';
    font-size: 9px;
    line-height: 15px;
    padding:10px 10px 0 0;
    position: relative;
}
.slider-price1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: .9s;
    animation-duration: .9s;
    color: #777777;
    font-family: 'effraregular';
    /*font-size: 24px;*/
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
    /*margin: 0 0 15px;*/
    margin: 0 0 10px;
    position: relative;
    padding-top:0px;
}
.slider-price1  span {
    color: #4cb6c2;
    font-family: 'effraregular';
    /*font-size: 34px;*/
    font-size: 15px;
    font-weight: normal;
    text-decoration: underline;
}
.slider-buttom1 {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}
.slider-buttom1 a{
    background: #c90000 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    /*font-size: 18px;*/
    font-size: 12px;
    font-weight: 600;
    /*line-height: 50px;*/
    line-height: 25px;
    /*padding: 0 20px;*/
    /*padding: 0 10px;*/
    padding: 3px 9px;
    margin-top: 20px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition:all 300ms linear 0s;
    transition: all 300ms linear 0s;
}
.slider-buttom1 a:before {
    color: #fff;
    content:"\E8CB";
    font-family:"Material Icons";
    display: inline-block;
    font-size: 22px;
    margin-right: 10px;
    vertical-align: middle;
}
.slider-buttom1 > a:hover {
    background:#f1a400;
    color:#fff;
}
.prc{
    margin-bottom: -20px;
}

.search input[type="search"] {
    height: 45px;
    width:85% !important;
    color:#888;
    padding-left:5px;
    border:1px solid #e5e5e5;
}
.imgLoaded{
    /*        width: 100% !important;
            height: 50% !important;*/
    visibility: visible;
    height: auto !important;
    /*height: 100% !important;*/
    margin-left: 10% !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    position: absolute;
    width: 60% !important;
}