.error-page-wrap {
    height: calc(100vh - 160px);
}
.err-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.err-para {
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    margin: 25px 0;
    line-height: 1.5;
}
.err-head {
    font-size: 78px;
    font-weight: 500;
    line-height: 1.2;
}

@media screen and (max-width: 767px) {
    .err-head {
        font-size: 48px;
    }
    .err-para {
        font-size: 28px;
        margin: 10px 0;
    }
}