/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

.browserupgrade {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

.hidden {
    display: none !important
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.invisible {
    visibility: hidden
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

@media print {

    *,
    :after,
    :before,
    :first-letter,
    :first-line {
        background: 0 0 !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }

    a,
    a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    abbr[title]:after {
        content: " (" attr(title) ")"
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }

    blockquote,
    pre {
        border: 1px solid #999;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    img,
    tr {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }

    h2,
    h3 {
        page-break-after: avoid
    }
}

.video_btn {
    display: block;
    background: 0 0;
    outline: 0;
    border: 0;
    max-width: 82px
}

.video-modal .modal-body,
.video-modal .modal-content {
    padding: 0;
    position: relative;
    margin: 0;
    width: 100%
}

.video-modal .modal-content {
    background: 0 0
}

.video-modal .close {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
    opacity: 1;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    z-index: 1
}

.video-modal .close span {
    display: inline-block;
    transform: translateY(-1px)
}

.img-big-box .new-product {
    position: relative !important
}

.img-big-box .new-product img {
    margin: 0 auto;
    margin-bottom: 45px
}
