
/*! #######################################################################

	MeanMenu 2.0.7
	--------

	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}

/* .mean-container .mean-bar::after {
	color: #ffffff;
    content: "";
    background: url('../images/haier-logo.png');
    background-size: cover;
    font-size: 18px;
    font-family: "helvetica";
    left: 0px;
    position: absolute;
    top: 16px;
    text-transform: uppercase;
    height: 50px;
    width: 195px;
    top: 0;
} */
/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
	/* float: left; */
	width: 100%;
	position: relative;
	background: #ffffff;
	padding: 0px 15px;
    margin: 0 -15px;
	/* min-height: 42px; */
	z-index: 99;
}
.section-icon {
	position: fixed;
	top: 5px;
	right: 0;
}
.mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: 'effraregular';
	font-weight: 700;
	top: -40px;
    left: 18px !important;
}
.mean-container a.meanmenu-reveal i {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mean-container a.meanmenu-reveal span {
	display: block;
	background: #ffffff;
	height: 3px;
	margin-top: 3px;
}

.mean-container .mean-nav {
	float: left;
    width: 40%;
    background: #ffffff;
    margin-top: 0;
    position: absolute;
    top: 0;
	left: 0;
}
.mean-container .mean-nav > ul {

	height: 410px;
	overflow-y: auto;
}

.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
	display: none;
}
.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
}

.mean-container .mean-nav ul li:nth-child(n+1) .mean-expand {
	display: block;
}

.mean-container .mean-nav ul li a {
	display: block;
	float: left;
	width: 90%;
	padding: 1em 5%;
	margin: 0;
	text-align: left;
	color: rgb(5, 5, 5);
	border-top: 1px solid #383838;
	border-top: 1px solid #383838;
	text-decoration: none;
	text-transform: uppercase;
}

.mean-container .mean-nav ul li li a {
	width: 80%;
	padding: 1em 10%;
	border-top: 1px solid #383838;
	border-top: 1px solid #383838;
	opacity: 0.75;
	filter: alpha(opacity=75);
	text-shadow: none !important;
	visibility: visible;
}

.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover {
	background: #252525;
	background: rgba(255,255,255,0.1);
}

.mean-container .mean-nav ul li a.mean-expand {
	margin-top: 1px;
	width: 26px;
	height: 18px;
	padding: 12px !important;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	font-weight: 700;
	background: rgba(255,255,255,0.1);
	border: none !important;
	border-left: 1px solid rgba(255,255,255,0.4) !important;
	border-bottom: 1px solid rgba(255,255,255,0.2) !important;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
	background: rgba(0,0,0,0.9);
}

.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


.mean-remove {
	display: none !important;
}
