  /*----------------------------------------*/
/*  4.  service-area
/*----------------------------------------*/
.service-area {
  clear: both;
}
.single-service {
  background: #F7F7F7 none repeat scroll 0 0;
  overflow: hidden;
  padding: 15px 30px;
}
.hm3 .single-service {
  padding: 15px 25px;
}
.service-icon {
  float: left;
  /*margin-top: 1px;*/
  margin-top: 24px;
}
.service-icon a {
  /*color: #59b210;*/
  color: #026ca8;
  font-size: 40px;
  transition:.3s;
}
.service-icon a i {
  transition: .3s;
}
 .single-service:hover .service-icon a i{
	transform:rotate(90deg);
}
 .single-service:hover .service-icon a i.pe-7s-plane{
	transform: translate(30px, -80px);
	transition:1.4s;
 }
 .single-service:hover .service-icon a i.pe-7s-headphones{
	transform:rotate(30deg);
	transition:.3s;
}

.service-text h3 {
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
}
.service-text span {
  color: #666;
  font-size: 15px;
}

.service-area-2 {
  clear: both;
}
.home-2 .single-service .service-icon a,.home-3 .single-service .service-icon a{
  color: #000;
}
.home-3 .service-text span{
	font-size: 14px;
}
.home-5 .full-banner-text h4 a:hover,.home-5 .full-banner-text h3 a:hover,.home-5 .full-banner-text .price span.new-price,.home-5 .full-banner-text .timer .cdown span,.home-5 .product-content .product-rating a:hover,.home-5 .product-content span.new-price,.home-5 .product-content .product-cart a:hover,.home-5 .single-blog .blog-content .post-date span.day,.home-5 .single-blog .blog-content .post-date span.month,.home-5 .single-blog .blog-content h3 a:hover, .home-5 .single-blog .blog-content a:hover,.home-5 .single-blog .blog-content a i,.home-5 .single-service .service-icon a,.home-5 .single-footer .footer-address ul li i,.home-5 .single-footer .footer-icon a:hover,.home-5 .single-footer .footer-menu ul li a:hover,.home-5 .copy-right p a,.home-5 .footer-bottom-menu ul li a:hover {
	color:#f96302;
}
.contact .single-service:hover .service-icon.effect a i {
  transform: rotate(30deg);
}

/*----------------------------------------*/ 