.product-info-warranty {
    display: flex;

}

.product-info-warranty .product-info-panel {
    padding-right: 16px;
    width: 100%;
}

.product-info-warranty .product-warranty-panel {
    width: 80%;
    margin-bottom: 20px;
}

/* .product-row.key-feature{
    display: flex;
} */
.product-row .key-features-wrap {
    width: 100%;
}

/* .product-info-warranty .product-info-panel .blog-read-more {
    margin-top: 21px;
} */

.product-info-warranty .product-warranty-panel .buy-extended-warranty {
    /* border: 1px solid #0c5ca8; */
    padding: 20px 0px;
    /* border-radius: 6px; */
    padding-bottom: 0;
    border-top: 1px solid #404040;
}

.product-info-warranty .product-warranty-panel .panel-header {
    /* border-bottom: 1px solid #0c5ca8; */
    padding-bottom: 10px;
}

.product-info-warranty .product-warranty-panel .panel-header h5 {
    color: #0c5ca8;
    font-weight: 700;
    font-size: 14px;
    margin: 5px 0px;
    line-height: 1.4;
}

.product-info-warranty .product-warranty-panel .panel-header span {
    color: #0c5ca8;
    font-weight: 600;
    font-size: 12px;
}

.product-info-warranty .product-warranty-panel .panel-body {
    padding: 0;
    padding-top: 0px;
}

.product-info-warranty .product-warranty-panel .panel-body .btn-wrap {
    width: 100%;
    display: flex;
}

.product-info-warranty .product-warranty-panel .panel-body .btn-wrap .btn {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    margin-right: 10px;
    font-size: 12px;
}

.product-info-warranty .product-warranty-panel .panel-body .btn-wrap .btn i {
    font-size: 14px;
    margin-right: 5px;
}

.product-info-warranty .product-warranty-panel .panel-body .btn-wrap .btn:last-child {
    margin-right: 0px;
}

.product-info-warranty .product-warranty-panel .form-group {
    display: block;
    margin-bottom: 15px;
}

.product-info-warranty .product-warranty-panel .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.product-info-warranty .product-warranty-panel .form-group label {
    position: relative;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.4;
}

.product-info-warranty .product-warranty-panel .form-group label a {
    color: #0c5ca8;
    font-weight: 700;
    border-bottom: 1px solid #0c5ca8;
}

.product-info-warranty .product-warranty-panel .form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0c5ca8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.product-info-warranty .product-warranty-panel .form-group.warranty-prior label:before {
    cursor: not-allowed;
}

.product-info-warranty .product-warranty-panel .form-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 4px;
    height: 12px;
    border: solid #0c5ca8;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

#purchaseform.form-warranty {
    margin-bottom: 25px;
}