@font-face {
    font-family: effrabold;
    src: url("../fonts/haier/effra_std_bd-webfont.woff2") format("woff2"), url("../fonts/haier/effra_std_bd-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: effra_lightregular;
    src: url("../fonts/haier/effra_std_lt-webfont.woff2") format("woff2"), url("../fonts/haier/effra_std_lt-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: effraregular;
    src: url("../fonts/haier/effra_std_rg-webfont.woff2") format("woff2"), url("../fonts/haier/effra_std_rg-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

:focus {
    outline: 0 !important
}

.container {
    max-width: 1600px;
    width: 100%
}

.width-100 {
    width: 100%
}

.p-t-0 {
    padding-top: 0 !important
}

.p-b-0 {
    padding-top: 0 !important
}

.scroll-top {
    position: fixed;
    right: 20px;
    bottom: 80px;
    z-index: 9
}

.btn {
    font-size: 14px;
    font-weight: 600;
    padding: 12px 13px;
    border-radius: 4px;
    margin-right: 10px;
    outline: 0;
    text-transform: uppercase !important
}

.btn.btn-small {
    font-size: 12px;
    padding: 9px 13px
}

.fab-btn {
    border-radius: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    background: #666;
    color: #fff
}

.fab-btn:hover {
    color: #fff;
    background: #333
}

.fab-btn i {
    margin: 0 !important
}

.btn i {
    margin-right: 10px
}

.btn i {
    font-size: 20px;
    vertical-align: bottom
}

.btn.btn-outline {
    border: 1px solid #0c5ca8;
    color: #0c5ca8
}

.btn.btn-outline {
    border: 1px solid #0c5ca8;
    color: #0c5ca8;
    background: 0 0
}

.btn.btn-plane.blue-color {
    background-color: #0c5ca8;
    color: #fff
}

.btn.btn-plane.blue-color a i {
    color: #fff
}

.btn.btn-plane.blue-color:hover {
    background-color: #0c5ca8
}

.btn.btn-plane.white-color {
    background-color: #fff;
    color: #0c5ca8
}

.btn.btn-plane.ruby-color {
    background-color: #0c5ca8;
    color: #fff;
    text-transform: capitalize !important
}

.btn.btn-plane.ruby-color:hover {
    box-shadow: 0 8px 16px 0 rgb(153 153 153 / 30%);
    transition: .2s all ease
}

.btn.btn-outline.blue-color:hover {
    border: 1px solid #0c5ca8;
    color: #fff;
    background-color: #0c5ca8
}

.jconfirm-content {
    font-size: 16px;
    text-align: left
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 10px;
    overflow: hidden
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}
.keyft li img{
    width: 2.12rem;
    margin-right: 1.25rem;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    background: #fcfcfe
}

.card-body .card-text:last-child {
    margin: 0
}

.card-title {
    margin-bottom: .75rem
}

.blank-gred {
    background: linear-gradient(to top left, rgba(0, 0, 0, 0), rgba(84, 84, 84, .1) 70%)
}

.jconfirm .jconfirm-box.jconfirm-type-orange {
    border-top: solid 7px #0c5ca8 !important;
    animation-name: none !important;
    padding: 30px 30px 20px;
    min-width: 30%
}

.form-control {
    height: 40px;
    border-radius: 10px
}

.jconfirm .jconfirm-box .jconfirm-buttons {
    padding-bottom: 0 !important;
    margin-right: 0;
    margin-bottom: 0
}

.jconfirm .jconfirm-box .jconfirm-buttons button {
    min-width: 100px;
    min-height: 40px
}

.body-min-height {
    min-height: calc(100vh - 470px)
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0
}

.header-info.top-header {
    display: none
}

.header-info ul li {
    display: inline-block
}

.header-info ul li:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #000
}

.header-info ul li i {
    padding-right: 5px
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.header-contact {
    width: 100%
}

.header-contact ul li a {
    color: #fff
}

.header-contact:last-child {
    text-align: right
}

.searchinputbx {
    width: 100%
}

.logo-wrap {
    width: 160px;
    transform-origin: top;
    padding-left: 10px;
    display: flex;
    align-items: center
}

.logo-wrap .logo {
    width: 100px;
    transform-origin: top;
    padding-left: 10px;
    display: flex;
    align-items: center
}

.logo-wrap a {
    display: block;
    font-size: 20px;
    color: #fff
}

.logo-wrap a:first-child {
    margin-right: 10px
}

.search-wrap {
    padding-right: 12px;
    display: flex;
    align-items: center
}

.search-wrap .search-form .searchinputbx {
    position: relative;
    display: flex;
    align-items: center
}

.search-wrap .search-form .searchinputbx .input-search button {
    background: 0 0;
    border: 0;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 16px
}

.search-wrap .search-form .searchinputbx .input-search button img {
    width: 16px
}

.search-wrap .search-form {
    margin: 0;
    display: flex;
    align-items: center
}

.search-wrap .search-form form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 0;
    overflow: hidden
}

.search-wrap .search-form form.in {
    width: 100%
}

.middleBar .header-items .header-item.home-one-menu {
    width: 50px
}

.middleBar .header-items .header-item {
    width: 50px;
    vertical-align: top
}

.middleBar .header-items .header-item.cart-item a {
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 1
}

.middleBar .header-items .header-item a .fa-heart-o {
    font-size: 21px
}

.middleBar .header-items .header-item.cart-item a img {
    width: 50%;
    margin: -5px auto 0
}

.middleBar .header-items .header-item span {
    width: 30px;
    left: 24px;
    display: none
}

.middleBar .header-items .header-item.cart-item span {
    display: block;
    font-size: 12px !important
}

.third-mega .thirdmg li {
    display: inline-block
}

.third-mega .thirdmg li a {
    text-align: center
}

.third-mega .thirdmg li img {
    margin: 0 15px 15px;
    display: inherit;
    background: rgba(207, 203, 207, .6);
    padding: 0;
    border-radius: 10px;
    transition: .5s ease
}

.third-mega .thirdmg li span {
    width: 200px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 24px
}

.new_menu .single-mega-1 li:hover>a>img {
    transform: scale(1.07)
}

.third-mega .single-mega-1 li a {
    padding: 0
}

.middleBar .header-items .header-item#searchProduct {
    display: none !important
}

.header-info .myaccount ul li {
    border: 0 !important
}

.header-info .myaccount ul li a:hover {
    color: #000 !important
}

.header-info .home-one-menu:hover>nav>ul>li .megamenu a {
    font-size: 12px !important
}

.section-icon .home-one-menu:hover>nav>ul>li .megamenu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleY(1);
    transform: scaleY(1)
}

.auto-search {
    min-height: 300px
}

.auto-search.ui-menu .ui-menu-item-wrapper {
    font-size: 14px;
    text-align: left;
    display: block
}

.auto-search.ui-menu .ui-autocomplete-row {
    display: block;
    text-align: left;
    border: 0 !important
}

header {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9;
    background-color: #0c5ca8;
    transition: all .5s cubic-bezier(.25, .74, .22, .99);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    -o-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    padding-top: 16px
}

.nav-up {
    top: -103px
}

header.sticky {
    transform: translateY(0)
}

.home-slider-wrap .home-banner img {
    width: 100% !important
}

.home-banner-info .mobile,
.home-slider-wrap .home-banner .mobile,
.normal-banner .banner-wrap .mobile {
    display: none
}

.product-category-wrap {
    padding: 25px 0 0;
    background-color: rgba(163, 162, 163, .11);
    display: none
}

.product-category-banner .product-category h2 {
    font-size: 14px;
    text-align: center;
    color: #273043
}

.carousel-container {
    padding-bottom: 40px
}

.carousel-container .carousel-title {
    margin-bottom: 35px
}

.carousel-container .carousel-title .filter-title {
    padding: 0
}

.product-title.product-name.pb-0.mobile {
    display: none
}

.carousel-container .carousel-title .filter-title h2 {
    width: 100%;
    text-align: left;
    font-size: 80px !important;
    font-weight: 500;
    color: rgba(0, 0, 0, .87);
    padding: 0;
    margin: 0;
    font-family: effrabold;
    text-align: center;
    text-transform: uppercase
}

.carousel-container .carousel-title .filter-title h2:before {
    display: none
}

.carousel-container .product-name a {
    font-size: 18px;
    line-height: 1.2;
    color: #273043;
    font-weight: 500
}

.category-wrapper .owl-nav {
    position: absolute;
    right: 0;
    top: -68px;
    height: 34px;
    display: flex
}

.flagship-carousal .owl-nav {
    position: absolute;
    right: 0;
    top: -68px;
    height: 34px;
    display: flex
}

.owl-nav [class*=owl-] {
    margin: 0;
    border-radius: 2px;
    height: 34px;
    width: 34px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c5ca8;
    color: #fff
}

.owl-nav .owl-next i,
.owl-nav .owl-prev i {
    color: #fff
}

.owl-nav [class*=owl-].disabled {
    background-color: transparent
}

.owl-nav [class*=owl-].disabled i {
    color: #0c5ca8
}

.owl-nav .owl-prev {
    border: 1px solid #0c5ca8;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0
}

.owl-nav .owl-next {
    border: 1px solid #0c5ca8;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.owl-carousel .owl-nav .owl-prev {
    background-size: 12px 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.owl-carousel .owl-nav .owl-next {
    background-size: 12px 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.owl-nav [class*=owl-]:hover {
    background: #0c5ca8
}

.owl-nav [class*=owl-]:hover i {
    color: #e8ebf7
}

.banner-video-wrap {
    height: 600px;
    position: relative
}

.banner-video-wrap .item-video {
    height: 600px
}

.banner-video-wrap .banner-img .video-img {
    width: 100%;
    height: 600px;
    object-fit: cover
}

.banner-video-wrap .banner-img {
    position: relative
}

.banner-video-wrap .play-video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer
}

.banner-video-wrap .owl-nav {
    position: absolute;
    right: 15px;
    top: -45px;
    height: 34px;
    display: flex
}

.banner-video {
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    text-align: center
}

.banner-video .video {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.close-video {
    position: absolute;
    right: 40px;
    top: 30px;
    cursor: pointer
}

.static-slider {
    padding-bottom: 0
}

.static-slider img {
    width: 100%
}

.static-slider .mobile-banner {
    display: none
}

.showing-product .list-product {
    margin: 0 0 30px
}

.product-details .product-name a {
    font-size: 23px;
    margin: 0;
    font-family: effrabold;
    color: #000;
    line-height: 1.4
}

.list-product .product-details .compare {
    position: static;
    padding-left: 30px
}

.showing-product .list-product .product-details {
    height: auto
}

.list-product .product-details .btn {
    font-weight: 600;
    font-size: 12px;
    padding: 9px 13px;
    border-radius: 4px;
    width: max-content;
    margin: 11px auto;
    border: 1px solid #0c5ca8;
    min-width: 120px
}

.brandname_class .label-check {
    position: static;
    width: calc(100% - 20px);
    font-size: 12px
}

.category-filter-form label {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    position: relative
}

.category-filter-form input[type=checkbox]+label:before {
    margin: 0 10px 0 0;
    width: 23px;
    height: 20px;
    border-radius: 2px
}

.category-filter-form input[type=checkbox]:checked+label:before {
    background: #0c5ca8;
    color: #fff;
    line-height: 18px;
    content: ""
}

.category-filter-form input[type=checkbox]:checked+label:before~.label-check,
.categoryies-option label:hover {
    color: #000 !important
}

.category-filter-form input[type=checkbox]:checked+label:after {
    content: "";
    left: 8px;
    top: 3px;
    width: 7px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute
}

.personal-details .category-filter-form input[type=checkbox]:checked+label:after {
    top: 7px
}

.price-range-form .searchinputbx {
    display: flex;
    align-items: center
}

.price-range-form .priceinput {
    width: 80px
}

.price-range-form .priceinput input {
    padding: 0 10px !important
}

.price-range-form .middleBar {
    width: 80px
}

.price-range-form .middleBar input {
    width: 100%
}

.price-range-form .divider-to {
    margin: 0 10px
}

.price-range-form .priceinput .range-input {
    border-radius: 2px !important
}

.price-range-form .middleBar .btn.btn-default {
    background: #0c5ca8 !important;
    border: 1px solid #0c5ca8 !important;
    border-radius: 2px
}

.product-details .off-percent {
    font-size: 12px
}

.product-details .shop-price-mob {
    min-height: 64px
}

.product-details .shop-price-mob h6 {
    font-size: 16px;
    white-space: nowrap
}

.product-details-wrap {
    border-radius: 10px;
    margin: 20px auto
}

.product-details-wrap .sticky-wrap {
    top: 140px;
    position: sticky
}

.new-product-gallery {
    position: relative;
    overflow: hidden;
    border-radius: 10px
}

.new-product-gallery .new-product {
    position: relative
}

.new-product-gallery .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: 30px
}

.new-product-gallery .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: 30px
}

.new-product-gallery .owl-nav [class*=owl-] {
    border: 0 !important;
    background: 0 0 !important
}

.new-product-gallery .owl-nav [class*=owl-] i {
    color: #0c5ca8;
    font-size: 24px
}

.new-product-gallery .owl-nav [class*=owl-].disabled {
    opacity: .3
}

.new-product-gallery #sync1 {
    width: 80%;
    margin: 0 auto
}

.new-product-gallery .owl-thumbnail {
    width: 100%;
    bottom: 22px;
    padding-left: 22px;
    padding-right: 22px;
    z-index: 2;
    margin-top: 30px
}

.new-product-gallery .owl-thumbnail .owl-item {
    display: flex
}

.new-product-gallery #sync2 .owl-stage {
    display: flex
}

.new-product-gallery .owl-thumbnail .item {
    border-radius: 10px;
    border: 2px solid #e8ebf7;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center
}

.new-product-gallery .owl-thumbnail .active .item {
    border: 2px solid #e8ebf7
}

.new-product-gallery .owl-thumbnail .active.current .item {
    border: 2px solid #0c5ca8
}

.product-area-wrap {
    padding: 10px 70px 0
}

.product-revier-area .product-name {
    font-size: 30px;
    line-height: 1.2 !important;
    color: #000;
    text-align: left;
    font-family: effrabold
}

.product-revier-area .product-short-desc p {
    font-size: 16px;
    color: rgba(0, 0, 0, .6);
    line-height: 1.5;
    font-weight: 400
}

.product-label {
    color: #000;
    width: 100%;
    font-size: 18px;
    margin-bottom: 5px;
    font-family: effrabold;
    text-transform: uppercase
}

.product-row {
    margin-bottom: 15px
}

.product-row .btn-wrap {
    width: calc(100% + 30px)
}

.price-info-wrap {
    display: flex;
    justify-content: flex-start
}

.price-info-wrap .price-info {
    margin-top: 10px;
    margin-right: 30px;
    align-items: center
}

.price-info-wrap .price-info .our-price small {
    font-size: inherit
}

.price-info-wrap .price-info .our-price i {
    font-size: 21px
}

.price-info-wrap .price-info .product-label {
    color: #1a78e5;
    width: 100%;
    font-size: 14px;
    margin-bottom: 5px
}

.price-info-wrap .price-info .our-price,
.product-aval h6 {
    color: #000;
    font-size: 27px;
    font-weight: 700;
    white-space: nowrap;
    display: inline-block
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px
}

.feature-list li {
    width: 50%;
    float: none;
    padding-right: 25px;
    font-size: 14px;
    color: rgba(0, 0, 0, .6);
    line-height: 1.5;
    position: relative
}

.feature-list li::after {
    content: "";
    background-color: #000;
    width: 5px;
    height: 5px;
    position: absolute;
    left: -14px;
    top: 9px;
    border-radius: 100px
}

.feature-list li span {
    font-family: effraregular;
    font-size: 14px
}

.call-action-row {
    position: fixed;
    right: 0;
    top: 47%;
    background: #666;
    z-index: 100
}

.call-action-row .call-action {
    position: relative
}

.fab-action-close {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none
}

.fab-action-wrap {
    position: absolute;
    top: 6px;
    display: flex;
    flex-direction: column;
    left: 0;
    width: 40px;
    align-items: center;
    background: #bcc0c5;
    border-radius: 30px;
    padding: 45px 0 0;
    display: none
}

.fab-action-wrap .btn {
    margin: 0
}

.fab-action-wrap .btn a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center
}

.key-features-tab .nav-tabs {
    background-color: #ededed
}

.key-features-tab {
    background-color: #ededed;
    border-radius: 20px;
    padding: 50px 4%
}

.key-features.mobile {
    display: none
}

.key-features .card-body {
    min-height: 115px
}

.tab-content {
    padding: 25px 0
}

.key-features-tab .card {
    margin-bottom: 30px
}

.feature-list a {
    color: #1a78e5
}

.feature-list a:hover {
    text-decoration: underline
}

.offer-list li {
    width: 100%;
    font-weight: 700;
    color: #635959
}

.spec-list-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px
}

.spec-list-wrap:not(:last-child) {
    margin-bottom: 25px
}

.spec-list-title {
    font-family: effrabold;
    font-size: 24px;
    line-height: 1.5em;
    margin-top: .12rem;
    color: #0c5ca8;
    display: block
}

.spec-list-wrap li {
    font-size: 16px;
    color: rgba(0, 0, 0, .8);
    width: 50%;
    padding: 0 15px
}

.spec-list-wrap li p {
    width: 49%;
    display: inline-block;
    padding-right: 15px;
    vertical-align: text-top;
    line-height: 1.6
}

.spec-list-wrap li p:first-child {
    font-family: effrabold
}

.key-features-tab .nav-tabs>li>a {
    font-size: 16px;
    color: #000;
    font-weight: 600
}

.key-features-tab .accord-head {
    width: 100%;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 45px 15px 15px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ddd;
    position: relative;
    display: none
}

.key-features-tab .accord-head::after,
.key-features-tab .accord-head::before {
    content: "";
    width: 15px;
    height: 2px;
    background: #0c5ca8;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    transition: .5s ease
}

.key-features-tab .accord-head::after {
    transform: rotate(90deg);
    opacity: 1
}

.key-features-tab .accord-head.active::after {
    transform: rotate(360deg);
    opacity: 0
}

.comment>textarea {
    border-radius: 10px
}

.accordian-tr p {
    margin: 0;
    padding: 12px 0;
    font-family: effraregular;
    font-size: 13px
}

.accordian-table tr td {
    position: relative
}

.accordian-tr .close {
    width: 34px;
    height: 34px;
    background-color: #ededed;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    line-height: 34px;
    background: #0c5ca8;
    color: #fff;
    font-size: 20px
}

.compare-table-wrap {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 60px
}

.compare-table-wrap a i {
    display: none
}

.coupon-code-field {
    display: flex;
    flex-wrap: nowrap
}

.coupon-code-field .form-control {
    width: calc(100% - 75px);
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    height: 46px !important
}

.coupon-code-field .btn {
    width: 75px;
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

#pincodeform,
#purchaseform {
    max-width: 340px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 10px
}

#pincodeform {
    max-width: 340px;
    position: relative;
    margin-bottom: 40px;
    margin-top: 10px
}

#purchase_date-error.error,
.product-pincheck #checkpincode-error.error {
    position: absolute;
    bottom: -24px;
    left: 0;
    margin: 0
}

#checkpincode-status {
    position: absolute;
    bottom: -24px;
    left: 0;
    margin: 0;
    white-space: nowrap
}

#checkpincode-status.error {
    position: absolute;
    bottom: -30px;
    left: 0;
    margin: 0;
    white-space: nowrap
}

#purchase_date-error.error {
    bottom: -20px
}

.product-pincheck .form-control {
    width: calc(100% - 80px)
}

.product-pincheck .btn {
    width: 85px
}

.price-section-wrap {
    margin: 25px 0;
    border-radius: 10px;
    border: 2px solid #ededed
}

.price-section-wrap .price-row {
    padding: 15px;
    font-size: 16px;
    font-weight: 400
}

.price-section-wrap .price-row strong {
    font-weight: 500;
    white-space: nowrap
}

.price-section-wrap .price-row .material-icons {
    font-size: 14px
}

.price-section-wrap .price-row .title {
    font-size: 16px;
    font-weight: 600;
    color: #000
}

.price-section-wrap .price-row:not(:last-child) {
    border-bottom: 2px solid #ededed
}

.price-section-wrap .price-row:nth-child(n+2) {
    margin: 0 15px
}

.price-section-wrap .price-row:nth-child(n+2)>.row {
    margin: 0 -30px
}

.price-section-wrap .price-row .total {
    color: #0c5ca8;
    font-weight: 600
}

.price-section-wrap .coupon-code-wrap {
    margin: 5px -15px 0
}

.shoping-cart-wrap {
    border-radius: 10px;
    border: 2px solid #ededed;
    margin-bottom: 25px
}

.shopping-cart {
    float: left
}

.shopping-cart .pull-left .centered {
    font-size: 16px
}

.shopping-cart .pull-right .continue-shopping a {
    font-size: 18px;
    color: #0c5ca8
}

.shopping-cart-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 30px 16px;
    width: 100%;
    padding-left: 0;
    position: relative
}

.remove-btn {
    position: absolute;
    top: 10px;
    right: 10px
}

.remove-btn .remove {
    background: #2b2b22;
    font-size: 30px;
    font-weight: 400;
    width: 30px;
    height: 30px;
    display: block;
    padding: 10px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center
}

.remove-btn .remove img {
    width: 100%
}

.shopping-cart-row:not(:last-child) {
    border-bottom: 2px solid #ededed
}

.shopping-cart-row .shopping-img-wrap {
    width: 150px;
    text-align: center
}

.shopping-cart-row .shopping-img-wrap img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto
}

.shopping-img-wrap .shop-qty {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    margin: 30px auto 0
}

.shopping-img-wrap .shop-qty .form-control {
    text-align: center;
    height: 20px;
    font-size: 16px;
    padding: 4px;
    margin: 0 5px
}

.shopping-img-wrap .quantity {
    position: static;
    line-height: 18px;
    font-weight: 600;
    color: #a09797
}

.shopping-img-wrap .quantity:hover {
    border: 1px solid #000;
    color: #000
}

.shopping-cart-row .shopping-info-wrap {
    width: calc(100% - 150px)
}

.shopping-cart-row .shopping-info-detail {
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap
}

.shopping-info-wrap .shopping-info-name {
    width: 90%;
    padding-right: 15px;
    margin-bottom: 21px
}

.shopping-info-wrap .shopping-info-name h4 {
    margin: 0
}

.shopping-info-wrap .shopping-info-price {
    width: 80%;
    margin-bottom: 21px
}

.shopping-info-wrap .shopping-extra {
    margin-top: 5px
}

.shopping-info-wrap .shopping-extra li {
    display: inline-block;
    padding-right: 5px
}

.shopping-info-wrap .shopping-extra li:not(:last-child) {
    border-right: 1px solid #000
}

.shopping-info-wrap .shopping-extra li a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    background-color: #0c5ca8;
    min-width: 160px;
    min-height: 40px;
    display: block;
    text-align: center;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: effra_lightregular
}

.shopping-info-wrap .shopping-price {
    font-size: 18px;
    font-weight: 600
}

.shopping-basic p {
    margin: 0
}

.shopping-info-wrap .btn-wrap .btn {
    margin: 15px 0 0
}

.shopping-info-wrap .shopping-compare .check-container {
    margin: 0 !important
}

.shopping-cart .tab {
    display: flex;
    justify-content: flex-start
}

.shopping-cart .tab button {
    float: none;
    padding: 10px
}

.shopping-cart .tab button i {
    filter: grayscale(1);
    opacity: .5
}

.shopping-cart .single-tabs {
    overflow: hidden
}

.shopping-cart .single-tabs:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}

.shopping-cart .single-tabs:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

.shopping-cart .tab button.active i {
    filter: grayscale(0);
    opacity: 1
}

.shopping-cart .single-tabs {
    border: 0;
    height: auto;
    width: 100%;
    margin: 0
}

.divider-or-wrap {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2
}

.divider-or-wrap:before {
    content: "";
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    height: 100%;
    width: 2px;
    background: #ddd;
    position: absolute;
    z-index: 0
}

.divider-or {
    height: 45px;
    width: 45px;
    background: #ddd;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    padding: 12px 0 0 0;
    z-index: 2
}

.personal-details .category-filter-form {
    height: auto !important
}

.thankyou h4 {
    font-size: 44px
}

.terms-policy-wrap li,
.terms-policy-wrap p,
.terms-policy-wrap table td,
.terms-policy-wrap table th,
.terms-policy-wrap u {
    font-size: 16px;
    line-height: 1.5
}

.terms-policy-wrap table,
.terms-policy-wrap table td,
.terms-policy-wrap table th {
    border: 1px solid #000;
    padding: 5px
}

.terms-policy-wrap .table-wrap {
    overflow-x: auto
}

.terms-policy-wrap ol {
    margin-left: 30px
}

@media screen and (max-width:767px) {
    .banner-video-wrap {
        margin-top: 75px
    }

    .banner-video-wrap,
    .banner-video-wrap .banner-img .video-img,
    .banner-video-wrap .item-video {
        height: 250px
    }
}

.emi-header {
    margin-bottom: 30px
}

.emi-head {
    margin-bottom: 20px;
    text-align: center;
    color: #000
}

.emi-head h2 {
    font-size: 26px
}

.emi-description-wrap {
    display: flex;
    justify-content: center;
    align-items: center
}

.emi-product-price {
    text-align: center;
    width: 30%
}

.emi-description h4,
.emi-product-price h4 {
    color: #000;
    font-size: 20px;
    font-weight: 400
}

.emi-product-price h4 {
    font-weight: 600
}

.emi-description {
    width: calc(100% - 30%)
}

.emi-table {
    position: relative
}

.bank-wrap {
    display: flex
}

.bank-list-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    width: 30%
}

.bank-name {
    cursor: pointer;
    padding: 10px 15px
}

.bank-name:not(:last-child) {
    border-bottom: 1px solid #cacaca
}

.bank-name:hover {
    background-color: rgb(242, 180, 19, .16)
}

.bank-name.background-color-orange:hover {
    background-color: #0c5ca8
}

.bank-emi-table {
    display: none;
    width: 70%;
    background-color: #fff;
    padding: 10px
}

.bank-emi-table table {
    max-width: 70%;
    width: 100%;
    padding: 20px;
    margin: 0 auto
}

.table-header h3 {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    padding: 10px 15px;
    margin: 0;
    margin-bottom: 25px
}

.table-cell {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #000
}

.background-color-orange {
    background-color: #0c5ca8;
    color: #fff
}

.festive-product-row .product-image {
    padding-top: 15px;
    padding-bottom: 15px
}

.festive-product-row {
    margin-bottom: 45px
}

.festive-form-wrap label.error {
    margin-bottom: 0
}

.festive-form-wrap .form-description {
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px
}

.festive-form-wrap .form-description h3 {
    font-weight: 700
}

.festive-form-wrap .form-description a,
.festive-form-wrap .form-description p,
.festive-product-row p,
.festive-product-row p a {
    font-size: 16px;
    color: #000
}

.festive-form-wrap .form-description a,
.festive-product-row p a {
    text-decoration: underline;
    white-space: nowrap
}

.footer-enquiry-textcolor a {
    color: #dae4f0
}

.footer-enquiry-textcolor a:hover {
    color: #32c1ec
}

.read-more-text {
    display: none
}

.read-more.feature {
    cursor: pointer;
    color: #32c1ec
}

.card-text.feature {
    height: 30px;
    overflow: hidden;
    margin: 0
}

.vaccination-offer.onam-offer {
    display: flex;
    padding: 70px
}

.vaccination-offer {
    padding: 40px
}

.form-toggle-btn {
    position: fixed;
    top: 50%;
    right: 0;
    width: 200px;
    background-color: #a01b4f;
    border-radius: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    transform: translate(0, -50%)
}

.form-toggle-btn h1 {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    line-height: 1.4;
    margin: 0;
    color: #fff
}

.offer_desc-wrap.onam-offer {
    width: 70%;
    padding: 0 70px
}

.offer_desc-wrap.washing-offer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 70px
}

.onam-product {
    margin-bottom: 25px
}

.offer_form p,
.vacc-desc-info p {
    font-size: 16px
}

.vacc-desc-info p {
    color: #000;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1.2
}

.offer_form p {
    margin-bottom: 15px;
    line-height: 1;
    color: #000;
    font-size: 14px
}

.offer_form h6 {
    margin-bottom: 15px;
    line-height: 1;
    color: #000;
    font-size: 16px
}

.offer_form p a {
    color: #000;
    line-height: 1.3;
    font-size: 14px;
    font-weight: 500
}

.offer_form.washing-offer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    padding: 20px;
    border-radius: 24px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    z-index: 1500
}

.offer_form.onam-offer {
    width: 30%
}

.form-overlay {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, .5)
}

#vacc-form .form-group {
    margin-bottom: 16px
}

.vacc-form-wrap {
    border-radius: 10px;
    border: 2px solid #ededed;
    padding: 20px
}

#vacc-form input,
#vacc-form select {
    width: 100%;
    padding: 6px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    border: none;
    border-bottom: 2px solid #e8ebf7;
    outline: 0
}

#vacc-form .select-box {
    padding: 0 0;
    border-bottom: 2px solid #e8ebf7
}

#vacc-form .select-box select {
    padding: 0 0;
    border: 0;
    box-shadow: none;
    text-transform: capitalize
}

.vacc-warranty-wrap {
    width: 100%;
    background-color: rgba(163, 162, 163, .11);
    padding: 30px 20px;
    margin-bottom: 15px;
    display: flex
}

.vacc-warranty-wrap p {
    color: #000;
    font-weight: 500;
    margin-bottom: 0;
    font-size: 16px
}

a.borderedIconBlueBtn {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 12px 13px;
    margin-bottom: 5px;
    background: #1a78e5;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 0;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out
}

.vacc-terms {
    padding-top: 15px
}

.vacc-terms a {
    text-decoration: none;
    color: #0c5ca8;
    font-weight: 500;
    font-size: 16px
}

.vacc-terms p {
    text-decoration: none;
    font-weight: 500;
    margin: 15px 0;
    font-size: 13px;
    color: rgba(0, 0, 0, .5)
}

#vacc-form input.vacc-submit-btn {
    border: 0;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    background: #1a78e5 url(https://cdn.godrej.com/img/enter-email.png) no-repeat left 15px top 12px;
    background-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 17px;
    padding-left: 45px;
    outline: 0;
    border-radius: 10px;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out
}

.redirection-link-header {
    text-align: center
}

.redirection-link-header h1 {
    font-weight: 700;
    font-size: 36px;
    font-family: sans-serif
}

.redirection-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 0
}

.redirection-links .redirection-nav-link {
    margin: 10px 0
}

.offer_desc-wrap.washing-offer .col-sm-4:nth-child(18) {
    order: -5
}

.offer_desc-wrap.washing-offer .col-sm-4:nth-child(17) {
    order: -4
}

.offer_desc-wrap.washing-offer .col-sm-4:nth-child(16) {
    order: -3
}

.offer_desc-wrap.washing-offer .col-sm-4:nth-child(15) {
    order: -2
}

.offer_desc-wrap.washing-offer .col-sm-4:nth-child(14) {
    order: -1
}

.attentive-container {
    padding: 60px 30px;
    background: linear-gradient(to bottom, #f1f1f1 0, #f1f1f1 50%, #fff 50%, #fff 100%)
}

.attentive-list {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center
}

.attentive-list .attentive-item {
    overflow: hidden;
    position: relative;
    width: 50%;
    transform: scale(1.1);
    transition: ease .8s all;
    background: #0c5ca8
}

.attentive-list .attentive-item:last-child {
    margin-top: 120px
}

.attentive-list .attentive-item img {
    width: 100%;
    display: block;
    height: 100%;
    transition: 1.5s all ease
}

.attentive-list .attentive-item:first-child:hover {
    z-index: 1;
    position: relative
}

.attentive-list .attentive-item:hover img {
    transform: scale(1.1);
    transition: 1.5s all ease
}

.attentive-list .attentive-item .item-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    margin: auto;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%)
}

.attentive-list .attentive-item .item-info small {
    color: #fff;
    font-size: 31px;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 12px;
    display: block
}

.attentive-list .attentive-item .item-info span {
    color: #fff;
    font-size: 14px;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 0;
    display: block
}

.title-container {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 40px
}

.title-container h2 {
    font-size: 60px;
    font-weight: 500;
    color: #000;
    font-family: effrabold;
    text-transform: uppercase
}

.title-container p {
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto;
    text-align: center;
    color: #555;
    width: 80%
}

.honors-container {
    padding: 100px 30px
}

.honors-container .title-container h2 {
    font-size: 80px
}

.honors-container .honors-list {
    display: flex;
    width: 80%;
    margin: 4px auto 0
}

.honors-container .honors-list .honors-item {
    width: 100%
}

.honors-container .top-img {
    margin-bottom: 100px;
    text-align: center
}

.honors-container .top-img img {
    display: block;
    margin: 0 auto
}

.honors-container .item-count h6 {
    font-size: 114px;
    line-height: 1.2;
    margin-bottom: 24px;
    text-align: center;
    font-family: effrabold;
    color: #333;
    position: relative
}

.honors-container .item-count h6::after {
    content: "";
    position: absolute;
    height: 40px;
    background: rgba(255, 255, 255, .5);
    width: 100%;
    width: 100%;
    top: 54%;
    transform: translateY(-50%);
    left: 0
}

.honors-container .item-count h4 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 24px;
    text-align: center;
    font-family: effrabold;
    color: #333
}

.honors-container .item-dec {
    margin-top: 60px;
    text-align: center;
    padding: 0 21px
}

.honors-container .item-dec p {
    font-size: 12px;
    line-height: 1.4;
    color: #555
}

.home-slider-wrap .owl-theme .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 30px
}

.home-slider-wrap .owl-theme .owl-dots .owl-dot span {
    background: #0c5ca8;
    margin: 0;
    width: 6px;
    height: 6px
}

.home-slider-wrap .owl-theme .owl-dots .owl-dot {
    border: 2px solid transparent;
    margin: 0 10px;
    border-radius: 100px;
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center
}

.home-slider-wrap .owl-theme .owl-dots .owl-dot.active {
    border: 2px solid #0c5ca8
}

.tab-header {
    background: #f8fbff;
    padding-top: 6px;
    position: sticky;
    top: 0;
    z-index: 8
}

.tab-header ul {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    margin: 0 auto
}

.tab-header ul li {
    min-width: 25%;
    text-align: center
}

.tab-header ul li a {
    color: #000;
    border-bottom: 6px solid transparent;
    z-index: 3;
    font-size: 17px;
    padding: 21px 0;
    display: block
}

.tab-header ul li a:hover {
    border-color: #0c5ca8;
    color: #222
}

.tab-header ul li.active a {
    border-color: #0c5ca8;
    color: #222
}

.tab-header ul li button {
    background: #0c5ca8;
    color: #fff;
    height: 50px;
    width: 80%;
    border-radius: 4px;
    border: 0;
    margin: 0 auto;
    font-size: 15px;
    cursor: pointer
}

.tab-header ul li button:hover {
    background: #222
}

.product-tab .tab-panel {
    display: none
}

.product-tab .tab-panel .btn-wrap {
    margin-bottom: 30px;
    display: flex
}

.product-tab .tab-panel .btn-wrap .btn {
    flex: 1
}

.product-tab .tab-panel .btn-wrap .additional-offer {
    flex: 1;
    border: 1px solid #0c5ca8;
    border-radius: 4px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: .4s all ease
}

.product-tab .tab-panel .btn-wrap .additional-offer:hover {
    background: #0c5ca8;
    transition: .4s all ease
}

.product-tab .tab-panel .btn-wrap .additional-offer:hover .checkmark-label {
    color: #fff;
    transition: .4s all ease
}

.product-tab .tab-panel .btn-wrap .additional-offer .check-mark {
    opacity: 0 !important
}

.product-tab .tab-panel .btn-wrap .additional-offer .checkmark-label {
    color: #0c5ca8;
    text-transform: uppercase;
    display: block;
    font-family: effrabold;
    height: 100%;
    line-height: 44px;
    margin-left: 0;
    text-align: center;
    margin-right: 15px
}

.product-tab .tab-panel .btn-wrap .additional-offer .check {
    position: absolute;
    opacity: 0 !important;
    cursor: pointer
}

.top-features {
    background: #f6f6f6;
    padding: 40px;
    margin-bottom: 60px
}

.top-features .features-list {
    width: 90%;
    display: flex;
    margin: 0 auto
}

.top-features .features-list .feature-item {
    flex: 1;
    border-right: 1px solid #ddd;
    text-align: center;
    padding: 40px 16px
}

.top-features .features-list .feature-item:last-child {
    border-right: 0
}

.top-features .features-list .feature-item .feature-title {
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 30px
}

.top-features .features-list .feature-item .color-box {
    background: #000;
    width: 50px;
    height: 30px;
    border: 1px solid #555;
    margin: 0 auto
}

.top-features .features-list .feature-item .feature-content {
    font-size: 34px;
    line-height: 1.5;
    color: #000;
    text-transform: capitalize
}

.features-wrap .features-list {
    width: 90%;
    margin: 0 auto
}

.features-wrap .features-list .feature-item {
    margin-bottom: 100px
}

.specification-container {
    margin-bottom: 100px
}

@media screen and (max-width:767px) {
    .festive-form-wrap {
        margin-bottom: 45px
    }
}

.flagship-container .title {
    font-size: 80px;
    font-weight: 500;
    color: rgba(0, 0, 0, .87);
    padding: 20px 0;
    margin: 0;
    font-family: effrabold;
    text-align: center;
    text-transform: uppercase
}

.flagship-img {
    margin-top: 20px;
    background: #fff;
    overflow: hidden;
    display: block;
    transform: translateY(10px);
    border-bottom: 5px solid #f1f1f1;
    width: 100%;
    height: 360px
}

.flagship-img:hover {
    transform: translateY(-6px);
    border-bottom: 5px solid #0c5ca8
}

.flagship-img:hover img {
    transform: translateY(0);
    transition: .4s all ease-in;
    border-bottom: 1px solid #0c5ca8
}

.flagship-img img {
    width: 100%;
    transform: translateY(-2px);
    transition: .4s all ease-in;
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid #0c5ca8
}

.flagship-container {
    margin-top: 40px;
    margin-bottom: 70px;
    background: linear-gradient(to bottom, #fff 0, #fff 50%, #f1f1f1 50%, #f1f1f1 100%)
}

.flagship-details {
    padding: 40px 16px;
    text-align: center
}

.flagship-details h4 {
    padding-bottom: 16px;
    min-height: 60px
}

.flagship-details h4 a {
    position: relative;
    font-size: 20px;
    text-align: center;
    color: #222
}

.flagship-details .divider {
    width: 100px;
    height: 3px;
    background: #0c5ca8;
    margin: 21px auto
}

.flagship-details h5 {
    font-size: 14px;
    text-align: center;
    color: #555;
    line-height: 1.4;
    margin: 0 auto 65px
}

.flagship-details a.more-btn {
    display: block;
    padding: 10px 10px;
    font-size: 20px;
    border: 1px solid #0c5ca8;
    margin: 0 auto;
    width: 160px;
    border-radius: 100px;
    color: #0c5ca8;
    transition: .2s all ease-in
}

.flagship-details a.more-btn:hover {
    box-shadow: 0 8px 16px 0 rgb(153 153 153 / 30%);
    transition: .2s all ease-in
}

.newly-arrival-container .title {
    font-size: 60px;
    font-weight: 500;
    color: rgba(0, 0, 0, .87);
    padding: 20px 0;
    margin: 0;
    font-family: effrabold;
    text-align: center;
    text-transform: uppercase
}

.newly-arrival-container {
    margin-bottom: 0
}

.alert.login-alert {
    margin: 0;
    width: 100%;
    padding: 0
}

.alert.login-alert .alert {
    margin: 0;
    font-weight: 100
}

.alert-danger {
    font-weight: 100
}

.alert-success {
    font-weight: 100
}

.alert.login-alert .close {
    margin-top: 11px;
    margin-right: 16px;
    font-size: 30px;
    color: #a94442;
    opacity: 1
}

.inner-menu-btn {
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}

.profile-menu-panel {
    display: none;
    background: #fff;
    top: 50px;
    position: absolute;
    right: 10px;
    z-index: 2;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4)
}

.profile-menu-panel .megamenu {
    display: block;
    position: static;
    padding: 0 !important;
    right: auto
}

.inner-menu-btn:hover .profile-menu-panel {
    display: block
}

.filter-sticky {
    position: sticky;
    top: 0
}

.filter-list {
    display: none;
    display: flex;
    flex-wrap: wrap
}

.filter-list ul {
    width: calc(50% - 8px);
    margin-right: 16px
}

.filter-list ul:nth-child(2n+2) {
    margin-right: 0
}

.price-category .filter-list ul {
    width: calc(100% - 8px);
    margin-right: 16px;
    display: flex;
    flex-wrap: wrap
}

.price-category .filter-list ul:last-child li {
    display: block;
    width: 100%
}

.price-category .filter-list ul li {
    width: calc(50% - 8px);
    margin-right: 16px
}

.price-category .filter-list ul li:nth-child(2n+2) {
    margin-right: 0
}

.field-icon {
    display: none !important
}

.cart-wrapper {
    margin-top: 60px
}

.sticky-price-panel {
    position: sticky;
    top: 0
}

.category-listing .container.carousel-container:nth-child(10),
.category-listing .container.carousel-container:nth-child(11),
.category-listing .container.carousel-container:nth-child(5),
.category-listing .container.carousel-container:nth-child(6),
.category-listing .container.carousel-container:nth-child(7),
.category-listing .container.carousel-container:nth-child(8),
.category-listing .container.carousel-container:nth-child(9) {
    display: none
}

.footer-address p {
    color: #fff
}

.view-btn b {
    font-size: 13px;
    font-weight: 400
}

.view-btn {
    background: #69a041;
    padding: 10px 16px;
    width: 100px;
    border-radius: 6px;
    color: #fff;
    margin: 0 0;
    display: inline-block
}

.view-btn:hover {
    color: #000
}

.download-btn {
    background: #ffc107;
    padding: 10px 16px;
    width: 100px;
    border-radius: 6px;
    color: #fff;
    margin: 0 0;
    display: inline-block
}

.download-btn:hover {
    color: #000
}

.download-btn b {
    font-size: 13px;
    font-weight: 400
}

.invoice-panel {
    margin-top: 50px
}

.invoice-panel .panel-heading {
    font-size: 24px;
    padding: 21px 16px;
    height: auto
}

.invoice-panel #invoice-info .panel-heading {
    font-size: 13px;
    padding: 0 16px;
    height: auto
}

.invoice-panel #invoice-info .panel-heading .panel-title {
    font-size: 13px
}

.invoice-panel .panel-title {
    font-size: 24px
}

.invoice-panel .panel-title span {
    margin-right: 10px
}

.feature-wrap {
    display: flex;
    width: 100%;
    padding: 0 30px;
    max-width: 1280px;
    margin: 0 auto
}

.feature-wrap .feature-image {
    min-height: 200px;
    overflow: hidden
}

.feature-wrap .feature-image img {
    object-fit: contain;
    height: 100%;
    width: 100%
}

.feature-wrap .feature-image {
    width: 50%
}

.feature-wrap .feature-content {
    width: 50%
}

.feature-wrap .feature-content {
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.feature-wrap .feature-content h2 {
    font-size: 50px;
    font-weight: 900;
    color: #273043;
    margin-bottom: 25px;
    text-align: left;
    text-transform: capitalize;
    display: block;
    width: 100%;
    font-family: effrabold
}

.feature-wrap .feature-content p {
    font-size: 17px;
    font-family: effraregular;
    line-height: 1.2;
    color: #000
}

.product-feature .row:nth-of-type(even) .feature-wrap {
    flex-direction: row-reverse
}

.key-features>.row {
    margin: 0
}

.about-us-container .about-para {
    padding-left: 0 !important
}

.about-us-container .about-us-details p {
    font-size: 16px;
    line-height: 1.2;
    font-family: effraregular
}

.about-us-container .about-us-details h3 {
    font-size: 20px;
    line-height: 1.2;
    font-family: effrabold;
    color: #222;
    margin: 21px 0
}

.about-us-container .about-us-details {
    padding-bottom: 30px
}

.about-us-container .about-us-item {
    margin-bottom: 60px
}

.not-found {
    min-height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.home-slider-wrap .owl-nav {
    display: block
}

.home-slider-wrap .owl-carousel .owl-nav .owl-prev {
    padding: 0;
    border: 0;
    background: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    background: rgba(46, 55, 105, .5) url(../images/haier/icons/prev.png) no-repeat;
    border-radius: 50%;
    width: 60px;
    background-size: cover;
    height: 60px;
    margin-top: -30px
}

.home-slider-wrap .owl-carousel .owl-nav .owl-next {
    padding: 0;
    border: 0;
    background: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    background: rgba(46, 55, 105, .5) url(../images/haier/icons/next.png) no-repeat;
    border-radius: 50%;
    width: 60px;
    background-size: cover;
    height: 60px;
    margin-top: -30px
}

.hot-new-product {
    font-size: 14px;
    text-align: center;
    width: 100px;
    padding: 3px 10px;
    background: #57adff;
    text-transform: capitalize;
    color: #fff;
    border-radius: 0 0 4px 4px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2)
}

.new-product {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%
}

.display-feature {
    margin-bottom: 30px
}

.display-feature ul li {
    margin-bottom: 12px;
    display: flex;
    align-items: center
}

.display-feature ul li span {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #1a78e5;
    display: block;
    padding: 2px;
    margin-right: 12px
}

.display-feature ul li span img {
    width: 95%;
    height: 95%
}

.display-feature ul li p {
    font-size: 15px;
    color: #2b2b22;
    font-family: effraregular;
    margin-bottom: 0
}

.list-feature p {
    font-size: 15px;
    color: #2b2b22;
    font-family: effraregular;
    margin-bottom: 0
}

.header-overlay {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #000000cc;
    z-index: 3;
    position: fixed
}

.datepicker .ui-state-default,
.ui-widget-content .ui-state-default {
    position: static;
    height: auto;
    width: auto;
    top: 0
}

.datepicker {
    padding: 6px 12px
}

.mobile-pincode-message {
    display: none;
    margin-bottom: 20px
}

.mobile-pincode-message p {
    color: #000;
    font-size: 18px;
    font-weight: 500
}

.list-feature {
    min-height: 56px
}

.about-us-container {
    padding-top: 40px
}

.showing-product .list-product .product-details .product-model-name {
    margin-top: 10px
}

.showing-product .list-product .product-details .product-model-name a {
    font-size: 15px
}

.jconfirm-title-c .jconfirm-icon-c {
    opacity: 0;
    height: 0
}

.manual-tab {
    padding-top: 40px;
    padding-bottom: 20px
}

.user-manual-title h2 {
    font-size: 34px;
    font-family: effrabold;
    color: #000;
    margin-top: 0
}

.user-manual-details table {
    margin-top: 10px;
    width: 100%
}

.user-manual-details table th {
    font-size: 18px;
    font-family: effrabold;
    color: #555;
    padding-bottom: 40px;
    vertical-align: top;
    width: 200px
}

.user-manual-details table td {
    font-size: 18px;
    font-family: effraregular;
    color: #555;
    padding-bottom: 40px;
    vertical-align: top;
    width: calc(100% - 200px)
}

.user-manual-details .downloadBtn {
    display: inline-block;
    color: #0c5ca8;
    font-size: 0;
    border: 1px solid #0c5ca8;
    width: 200px;
    height: 50px;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center
}

.user-manual-details .downloadBtn:hover {
    box-shadow: 2px 10px 20px rgba(0, 0, 0, .125)
}

.user-manual-details .downloadBtn i {
    font-size: 20px;
    margin-right: 10px
}

.user-manual-details .downloadBtn span {
    display: inline-block;
    vertical-align: top;
    font-size: 20px
}

.user-manual-details p {
    font-size: 14px;
    font-family: effraregular;
    color: #222;
    padding-bottom: 40px;
    vertical-align: top;
    margin-top: 60px
}

button#tool_tip2,
button#tool_tip3 {
    margin-right: 30px
}

.footer-enq {
    margin-top: 30px
}

.footer-enq a {
    color: #f1f1f1;
    display: block
}

.footer-enq b {
    font-size: 13px
}

.footer-enq b i {
    margin-right: 10px
}

.copy-right {
    background: #0c5ca8;
    text-align: center;
    padding: 0 15px 16px
}

.copy-right p {
    font-size: 14px;
    line-height: 2;
    color: rgba(255, 255, 255, .8);
    margin-bottom: 0
}

.copy-right p a {
    font-size: 14px;
    color: rgba(255, 255, 255, .8);
    display: inline-block
}

.manual-tab .inner-tabs {
    display: flex;
    margin-bottom: 40px;
    border-bottom: 2px solid #0c5ca8
}

.manual-tab .inner-tabs li {
    margin-right: 30px
}

.manual-tab .inner-tabs li a {
    min-width: 160px;
    font-size: 14px;
    color: #222;
    padding: 12px 14px 10px;
    display: block;
    text-align: center
}

.manual-tab .inner-tabs li a:hover {
    color: #0c5ca8
}

.manual-tab .inner-tabs li.active a {
    background-color: #0c5ca8;
    color: #fff;
    border-radius: 10px 10px 0 0
}

.manual-tab .all {
    display: none
}

.product-video-wrapper {
    margin-top: 40px
}

.product-video-list {
    display: flex;
    flex-wrap: wrap
}

.product-video-item {
    overflow: hidden;
    border-radius: 10px;
    width: calc(25% - 12px);
    margin-right: 16px;
    margin-bottom: 16px
}

.product-video-item:nth-child(4n+4) {
    margin-right: 0
}

.product-video-item a {
    display: block;
    position: relative
}

.product-video-item span {
    display: block;
    padding: 16px 21px;
    border: 1px solid #0c5ca8;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    font-size: 14px
}

.product-video-item a small {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

.product-video-item a small i {
    font-size: 50px;
    color: #fff
}

.video-banner-modal .modal-content {
    width: 100%;
    background: #fff
}

.video-banner-modal .modal-content .close {
    float: none
}

.video-banner-modal .modal-content .modal-header {
    padding: 0;
    display: flex;
    justify-content: flex-end
}

.video-banner-modal .video-banner {
    height: 400px
}

.video-banner-modal .video-banner iframe {
    width: 100%;
    height: 100%
}

.terms-para {
    padding-left: 16px;
    padding-bottom: 40px
}

.terms-para h5 {
    font-size: 20px;
    font-family: effrabold;
    margin-bottom: 16px;
    margin-top: 30px
}

.terms-para ul {
    list-style: numeric;
    font-size: 14px
}

.terms-para ul.roman {
    list-style: upper-roman;
    font-size: 14px
}

.terms-para ul.roman h4 {
    font-size: 16px;
    color: #222;
    font-family: effrabold
}

.terms-para h4 {
    font-size: 16px;
    color: #222;
    font-family: effrabold
}

.terms-para p {
    font-size: 15px;
    line-height: 1.4
}

.terms-para p a {
    font-size: 15px;
    color: #0c5ca8;
    text-decoration: underline;
    font-family: effrabold
}

.terms-para .inner-wrap {
    padding-left: 21px
}

.review-section {
    margin-top: 80px
}

.toll_free_no {
    font-size: 12px !important
}

.know-more .modal-content {
    width: 100%;
    background: #fff
}

.know-more .modal-content .close {
    float: none
}

.know-more .modal-content .modal-header {
    padding: 0;
    display: flex;
    justify-content: flex-end
}

.know-more-btn-container {
    display: flex;
    justify-content: space-between
}

.know-more-btn-container .btn {
    width: 100%
}

.service-support-container {
    padding-top: 0;
    display: none
}

.service-support-container h2 {
    font-size: 16px;
    font-family: effraregular;
    color: #222;
    font-weight: 600
}

.service-support-container ul li {
    margin-bottom: 10px
}

.service-support-container ul li a {
    color: #0c5ca8;
    font-size: 14px
}

.service-support-container ul li a i {
    color: #0c5ca8;
    margin-right: 10px
}

.btn.btn-plane.blue-color.service-support-btn.active {
    background: 0 0;
    color: #0c5ca8;
    border: 1px solid #0c5ca8;
    box-shadow: none
}

.top-header {
    background: #0c5ca8;
    text-align: right;
    padding: 0 16px;
    position: absolute;
    top: 10px;
    z-index: 99;
    margin-left: auto;
    right: 0
}

.top-header .service-text span {
    color: #fff;
    font-size: 13px
}

.top-header a {
    color: #fff;
    font-size: 13px
}

.top-header a:hover {
    color: #f2f2f2;
    font-size: 13px
}